---
import CommunitySection from "../components/CommunitySection.astro";
import DefinitionSection from "../components/DefinitionSection.astro";
import DistinctionSection from "../components/DistinctionSection.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import LandscapeSection from "../components/LandscapeSection.astro";
import SectionNav from "../components/SectionNav.astro";
import TimelineSection from "../components/TimelineSection.astro";
import TopicsSection from "../components/TopicsSection.astro";
import { pageMeta } from "../data";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={pageMeta.title} description={pageMeta.description}>
  <Header />
  <main class="page-shell">
    <Hero />
    <SectionNav />
    <DefinitionSection />
    <DistinctionSection />
    <TimelineSection />
    <CommunitySection />
    <LandscapeSection />
    <TopicsSection />
  </main>
  <Footer />
</BaseLayout>
